<!--{% load static %}-->
<html>
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/static/main.css' %}">
     <title>Skamwise - Homepage</title>
</head>
<style>
footer {
  position: fixed;
  bottom:0;
  left:45%;
  text-align: center;
  padding: 3px;
  background-color: DimGrey;
  color: white;
}
button {

}
</style>

<body style="background-color:#d7eeff;">
    <pre><center>
<img style="border:1px solid black" src="{% static 'skamwise.png' %}" alt="Logo" width="1550" height="400"/>
    </center></pre>
    <center>

    <div class="container">
    <div class="col-md-8 ">

        <form method="post" style="margin: 0">
            {% csrf_token %}
           <input placeholder="Enter URL here" style="text-align:center" class="form-control" id="search_box" type="text" name="search_box">
            <button style="margin:50px" class="btn btn-primary btn-lg" id="search submit" type="submit" >Submit</button>
        </form>

    </div>

    </div>
    </center>
    <div class=footer>
        <footer> Ciarán Byrne x170367033 © 2022  </footer>
    </div>
</body>
</html>