<!--{% load static %}-->
<html>
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
     <title>Skamwise - Homepage</title>
</head>
<style>
footer {
  position: fixed;
  bottom:0;
  left:45%;
  text-align: center;
  padding: 3px;
  background-color: DimGrey;
  color: white;
}
</style>
<body style="background-color:powderblue;">
    <pre><center>
<img src="{% static 'skamwise.png' %}" alt="Logo" width="1550" height="409"/>
    </center></pre>
    <center>

    <div class="container">
    <div class="col-md-8 offset-md-2">

        <form method="post" style="margin: 0">
            {% csrf_token %}
            <input id="search_box" type="text" name="search_box">
            <button id="search submit" type="submit">Submit</button>
        </form>

    </div>
    <div class="container">
    <div class="col-md-8 offset-md-2">

        <form method="post" style="margin: 0">
            {% csrf_token %}
            <div style="background-color:red">

            <h1 style="color:black">Your URL is not safe  ! </h1>
            </div>

        </form>

    </div>

    </div>
    </center>
    <div class=footer>
        <footer> Ciarán Byrne x170367033 © 2022  </footer>
    </div>
</body>
</html>